@import './shared/variables';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
}

h3 {
  text-transform: uppercase;
}


// ==== PARALLAX EFFECT ====

bg-parallax {
  background-attachment: fixed;
}


// ==== BUTTONS ====

.btn-general {
  border-width: 2px;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 12px 26px;
  text-transform: uppercase;
}

.btn-white {
  border-color: $yellow;
  color: $yellow;
}

.btn-white:hover,
.btn-white:focus {
  background-color: $yellow;
  color: $grey;
}


// ==== ANIMATIONS ====

#home-cover,
#home-heading,
#home-btn {
  animation-duration: .5s;
}

#home-cover {
  animation-delay: .1s;
}

#home-heading {
  animation-delay: .5s;
}

#home-btn {
  animation-delay: .1s;
}


// ==== HOME ====

#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url("../../img/sergey-zolkin-192937.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-content-container {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#home-heading h3 {
  color: $blue;
  font-size: 5.5rem;
  font-weight: 300;
  margin: 20px 0;
  text-transform: uppercase;
}